html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #e5e5e5;
    text-align: center;
    padding: .5em;
}

h1 {
    font-size: 3.7em;
    margin: .5rem;
    color: #000;
}

h2 {
    font-size: 2.3em;
}

main {
    padding: .2rem 2rem;
    display: flex;
    flex-direction: column;
}

.main-container {
    background: #f5f5f7;
    border-radius: 10px;
    align-self: center;
    display: flex;
    flex-direction: column;
    max-height: 500px;
    padding: 2rem 7rem;    
}

.adding-box {
    display: flex;
    justify-content: space-between;
    padding: .4rem;
}

#item_field  {
    border: none;
    border-bottom: 2px solid #000;
    background: none;
    padding: .5rem .3rem;
    font-size: 1.5rem;
}

#add_button {
    border: none;
    border-radius: 10px;
    background: #2e426d;
    padding: 1.12rem 2rem;
    font-size: 1.4rem;
    cursor: pointer;
    color: #ffd;
} 

#add_button:hover {
    background: #14213d;
}

#grocery_list {
    margin: .3rem 0 0 0;
    font-size: 2rem;
    max-height: 250px;
    overflow-y: auto;
}

@media only screen and (max-width: 750px) {
    .main-container {
        width: 90%;
        padding: 1rem;
        margin: 0 10rem;
    }

    .adding-box {
        flex-direction: column;
        align-items: stretch;
        margin: 1rem;
    }

    #add_button {
        margin: .7rem;
    }
}

.list-item:nth-child(2n) {
    background: #ddd;
}

.list-item {
    margin: .5rem .1rem;
    padding: 0 .5rem;
    display: flex;
    flex-wrap: nowrap;
    font-size: 1.3rem;
    border-radius: 10px;
    justify-content: space-between;
}

.delete-button {
    cursor: pointer;
    padding: 0 1rem;
    height: 50px;
    background: #d6292c;
    border: none;
    color: #fff;
    border-radius: 10px;
    align-self: center;
}

.delete-button:hover {
    background: #c1121f;
}
